.sCard{
  width: 300px;
  margin: 40px;
  background-color: rgb(145, 49, 22);
  color: white;
  text-align: center;
  border: 8px solid rgb(23, 23, 216);
  box-shadow: 0 0 15px rgb(11, 11, 130);
  display: inline-block;
}
